{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Aillez Engenharia - Sobre a empresa
{% endblock %}


{% block content %}

<section class="sobre-interna">
    <div class="sobre-titulo">
        <h1>Conheça a Aillez</h1>
    </div>

    <div class="sobre-descricao">
        <h3>Um pouco mais sobre nós</h3>
        <p>Os recursos da CML são baseados em muitos anos de experiência e em uma equipe de gerenciamento e força de trabalho comprometida em fornecer as melhores soluções de engenharia de melhor valor.</p>
        <p>Fundada em 1986, a Construction Marine Ltd foi originalmente criada para realizar obras de engenharia naval e civil e rapidamente se tornou especialista em projetos de defesa fluvial e costeira.</p>
        <p>Tendo conquistado uma reputação invejável de profissionalismo e desempenho contratual de alta qualidade, a CML continuou a crescer e, em resposta às exigências do cliente, ampliou sua gama de serviços de engenharia civil para incluir terraplenagem, drenagem, estruturas e construção.</p>
    </div>

    <div class="sobre-valor">
        <h3>Compromisso com a excelencia</h3>
        <p>A CML mantém uma força de trabalho altamente treinada, qualificada e experiente, que compartilha um compromisso com a excelência e a satisfação do cliente em todos os aspectos de suas operações.</p>
        <p>Como empresa privada gerenciada pelo proprietário, a CML é capaz de fornecer uma abordagem altamente focada e orientada a soluções para os negócios. Isso, juntamente com uma atitude positiva de “poder fazer” e atenção pessoal às necessidades do cliente, torna a CML única na contratação de engenharia civil.</p>
    </div>

    <div class="sobre-visao-geral">
        <ul>
            <li>
                <label class="titulo-label" for="">Visao Geral</label>
                
                <span>
                    <i>01</i>
                    Mais de 20 projetos executados
                </span>
            </li>
            <!-- <li>SUcesso e crescimento continuo</li>
            <li>Paixao pela satisfação do cliente</li>
            <li>Investimento continuo em novas tecnologias e oportunidades de negocios</li>
            <li>Comprometimento com a satisfação dos nossos clientes.</li> -->
        </ul>
    </div>

</section>

{% endblock %}