{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Aillez Engenharia - Sobre a empresa
{% endblock %}


{% block content %}

<section class="sobre-interna">
    <div class="sobre-titulo">
        <h1>Conheça a Aillez</h1>
    </div>

    <div class="sobre-descricao">
        <h3>Um pouco mais sobre nós</h3>
        {{sobre.sobre_nos | safe }}
    </div>

    <div class="sobre-valor">
        <h3>Compromisso com a excelencia</h3>
        {{sobre.compromissos | safe }}
    </div>

    <div class="sobre-visao-geral">
        <ul>
            <li>
                <label class="titulo-label" for="">Visao Geral</label>
                
                <span>
                    <i>01</i>
                    Mais de 20 projetos executados
                </span>
            </li>
            <!-- <li>SUcesso e crescimento continuo</li>
            <li>Paixao pela satisfação do cliente</li>
            <li>Investimento continuo em novas tecnologias e oportunidades de negocios</li>
            <li>Comprometimento com a satisfação dos nossos clientes.</li> -->
        </ul>
    </div>

</section>

{% endblock %}