@import "../../../../home/static/home/scss/cores";

.sobre-interna {
    .sobre-titulo {
        background: $pretoSecundario;
        padding: 4rem 3.5rem;

        h1 {
            font-size: 2.441rem;
            font-weight: bold;
            text-align: center;
            color: $branco;
            opacity: .9;
        }
    }

    .sobre-descricao {
        padding: 4rem 0rem;
        max-width: 800px;
        margin: 0 auto;

        h3 {
            font-size: 1.563rem;
            margin-bottom: 2rem;
        }
        p {
            margin-bottom: 1rem;
        }
    }

    .sobre-valor {
        max-width: 800px;
        margin: 0 auto;

        h3 {
            font-size: 1.563rem;
            margin-bottom: 2rem;
        }
        p {
            margin-bottom: 1rem;
        }
    }

    .sobre-visao-geral {
        margin-top: 4rem;
        padding: 0rem 5rem;
        background: $pretoSecundario;

        ul {
            position: relative;

            li {
                min-height: 550px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .titulo-label {
                    position: absolute;
                    color: $branco;
                    top: 0;
                    padding-top: 2rem;
                    opacity: .8;
                    letter-spacing: .15rem;
                }

                span {

                    font-size: 3.052rem;
                    font-weight: bold;
                    color: $branco;
                    opacity: .8;

                    i {
                        position: absolute;
                        right: 41%;
                        letter-spacing: .6rem;
                        top: 31%;
                        margin-bottom: 50px;
                        font-size: 11.642rem;
                        opacity: .2;
                        font-style: normal;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}