{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Aillez Engenharia - Sobre a empresa
{% endblock %}


{% block content %}

<section class="estudo">
    <div class="estudo-body">
        <a class="btn-voltar" href="{% url 'estudos-de-caso' %}">Voltar para estudos de caso</a>
        <h1>{{estudo.nome}}</h1>
        <label class="titulo-label" for="trabalho">Trabalho feito</label>
        <h3>{{estudo.trabalho_feito}}</h3>

        <label class="titulo-label" for="descricao">Breve descrição</label>
        <p class="estudo-descricao">{{estudo.breve_descricao}}</p>

        
        {{estudo.descricao_detalhada | safe }}

        <a class="btn" href="">Contato</a>
    </div>
    <div class="estudo-imagem-wrapper">
        <img src="{{estudo.estudo_imagem.url}}" alt="">
    </div>

    <div class="estudo-depoimento">
        <h3>Depoimento do cliente</h3>
        <cite>"{{estudo.depoimento}}"</cite>
        <p>{{estudo.cliente}} | {{estudo.titulo_cliente}}</p>
    </div>
</section>

{% endblock %}