{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Aillez Engenharia - Estudos de caso
{% endblock %}

{% block js %}
    <script src="{% static 'home/js/select.js' %}"></script>
{% endblock %}


{% block content %}

<section class="estudos-de-caso-interna">
    <h1>Nossos melhores e mais orgulhosos trabalhos.</h1>
    <label class="titulo-label" for="">Filtrar casos de uso por:</label>
    <div class="custom-select">
        <select name="categorias" id="categorias">
            <option value="solar">Energias renovaveis</option>
            <option value="teste">Energias renovaveis</option>
            <option value="1">Energias renovaveis</option>
        </select>
    </div>

    <ul class="estudos">
        {% for estudo in estudos %}
            <li>
                <div>
                    <div class="estudo-imagem"></div>
                    <div class="estudo-descricao">
                        <h3>{{estudo.nome}}</h3>
                        <label class="titulo-label" for="#">Trabalho realizado</label>
                        <p>{{estudo.trabalho_feito}}</p>
                        <label class="titulo-label" for="#">Breve descrição</label>
                        <p>{{estudo.breve_descricao}}</p>
                        <a class="btn" href="{% url 'estudo' slug=estudo.slug %}">Mais detalhes</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}