{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Aillez Engenharia - Sobre a empresa
{% endblock %}


{% block content %}

<section class="servicos-interna">
    <div class="servicos-intro">
        <h2>A escolha preferida das pessoas </h2>
        <p>A execuçao dos serviços da Aillez são baseados em muitos anos de experiência e em uma equipe comprometida em oferecer o melhor valor e as melhores soluções de engenharia.</p>
        <p>A Aillez está estruturada nas seguintes divisões focadas no cliente; para mais detalhes, clique no link:</p>
        <a href="#servicos-lista">Saiba mais sobre nossos serviços</a>
    </div>

    <div id="servicos-lista" class="servicos-lista">
        <h3 class="titulo">Nossos serviços</h3>
        <ul>
            <li>
                <div class="servico">
                    <div class="servico-descricao">
                        <h3>Instalaçao de paineis solares</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quia libero dolorem rerum sed, repellendus unde recusandae quae voluptatem aut placeat enim consectetur deserunt dolores ducimus aspernatur dolor consequatur doloribus!</p>
                        <a class="btn" href="#">Saiba mais</a>
                    </div>
                    <img class="servico-imagem" src="#" alt="">
                </div>
            </li>
            <li>
                <div class="servico">
                    <div class="servico-descricao">
                        <h3>Instalaçao de paineis solares</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quia libero dolorem rerum sed, repellendus unde recusandae quae voluptatem aut placeat enim consectetur deserunt dolores ducimus aspernatur dolor consequatur doloribus!</p>
                        <a class="btn" href="#">Saiba mais</a>
                    </div>
                    <img class="servico-imagem" src="#" alt="">
                </div>
            </li>
            <li>
                <div class="servico">
                    <div class="servico-descricao">
                        <h3>Instalaçao de paineis solares</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quia libero dolorem rerum sed, repellendus unde recusandae quae voluptatem aut placeat enim consectetur deserunt dolores ducimus aspernatur dolor consequatur doloribus!</p>
                        <a class="btn" href="#">Saiba mais</a>
                    </div>
                    <img class="servico-imagem" src="#" alt="">
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}