{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Aillez Engenharia - Sobre a empresa
{% endblock %}


{% block content %}

<section class="servico">
    <div class="servico-intro">
        <h1>Instalaçao de paineis solares</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos corrupti nulla placeat totam natus. A facere laborum quia autem dolor possimus fuga corporis velit. Ab labore assumenda odio quaerat doloremque.</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga iste nemo cum fugiat mollitia eius delectus, aut nobis, natus, sunt nostrum beatae blanditiis voluptatibus architecto deleniti inventore similique asperiores ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. At molestiae debitis, quod amet nihil asperiores. Quod voluptas nihil in exercitationem, necessitatibus nostrum officiis mollitia deleniti minus sit harum soluta aliquid? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis mollitia, distinctio harum cupiditate labore aliquid, debitis libero cum saepe dolore laborum veritatis odio culpa quam? Laudantium delectus repellat aliquam minus.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>

        <a class="btn" href="">Contato</a>

        <img src="" alt="">
    </div>
    <div class="servico-quote">
        <h3>O que nossos clientes dizem</h3>
        <cite>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, modi? At, quidem aspernatur delectus ducimus dignissimos reiciendis est commodi tenetur fugiat porro suscipit labore minima quasi natus totam dicta adipisci?"</cite>
        <p>Dona Helena | Dona de um quarteirao</p>
    </div>
    <div class="servico-estudo-associado estudos-de-caso">
        <div>
            <h1>Dona Helena caso de uso</h1>
            <label class="titulo-label" for="#">Trabalho realizado</label>
            <p>Instalaçao de painel solar</p>
            <label class="titulo-label" for="#">Breve descrição</label>
            <p>Instalaçao de painel solar para geraçao de energia elétrica para um quarteirão...</p>
            <a class="btn" href="#">Mais detalhes</a>
        </div>
        <img src="#" alt="">
    </div>
</section>

{% endblock %}