{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}


    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">

    <title>{% block title %}{% endblock %}</title>
    
    {% block css %}{% endblock %}
   
    {% block js %} {% endblock %}
</head>

<body>
    <header class="header">
        <a href="/"><img class="header-logo" src="#" alt="Logo Aillez"></a>
        <nav class="menu">
            <ul>
                <li>
                    <a class="menu-item" href="#">Sobre</a>
                </li>
                <li>
                    <a class="menu-item" href="#">Nossos Serviços</a>
                </li>
                <li>
                    <a class="menu-item" href="#">Estudos de casos</a>
                </li>
                <li>
                    <a class="menu-item" href="#">Contato</a>
                </li>
            </ul>
        </nav>
    </header>

    <nav class="menu-mobile">
       
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <ul class="menu-footer">
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Nossos serviços</a></li>
            <li><a href="#">Estudos de casos</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
        <p>© Aillez - Alguns direitos reservados</p>
    </footer>
</body>

</html>