{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}


    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <script src="{% static 'home/js/main.js' %}"></script>

    <title>{% block title %}{% endblock %}</title>
    
    {% block css %}{% endblock %}
   
    {% block js %} {% endblock %}
</head>

<body>
    <header class="header">
        <div class="menu-wrapper">
            <div class="hamburger-menu"></div>
        </div>
        <a href="{% url 'index' %}"><img class="header-logo" src="#" alt="Logo Aillez"></a>
        <nav class="menu">
            <ul>
                <li>
                    <a class="menu-item" href="{% url 'sobre' %}">Sobre</a>
                </li>
                <li>
                    <a class="menu-item" href="{% url 'servicos' %}">Nossos Serviços</a>
                </li>
                <li>
                    <a class="menu-item" href="{% url 'estudos-de-caso' %}">Estudos de casos</a>
                </li>
                <li>
                    <a class="menu-item" href="{% url 'contato' %}">Contato</a>
                </li>
            </ul>
        </nav>
    </header>

    <nav class="menu-mobile">
        <ul>
            <li>
                <a class="menu-item" href="{% url 'sobre' %}">Sobre</a>
            </li>
            <li>
                <a class="menu-item" href="{% url 'servicos' %}">Nossos Serviços</a>
            </li>
            <li>
                <a class="menu-item" href="{% url 'estudos-de-caso' %}">Estudos de casos</a>
            </li>
            <li>
                <a class="menu-item" href="{% url 'contato' %}">Contato</a>
            </li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <ul class="menu-footer">
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
            <li><a href="{% url 'servicos' %}">Nossos serviços</a></li>
            <li><a href="{% url 'estudos-de-caso' %}">Estudos de casos</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
        </ul>
        <p>© Aillez - Alguns direitos reservados</p>
    </footer>
</body>

</html>