@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  color: #1E1F23;
}

body {
  color: #1E1F23;
}

.titulo-label {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  margin-top: 16px;
  margin-bottom: 56px;
  font-weight: bold;
  color: #4D4D4D;
}

body,
p,
h1,
h2,
h3,
ul,
blockquote,
cite,
li {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #1E1F23;
}

p {
  font-size: 1rem;
  color: #4D4D4D;
  line-height: 1.7;
}

p:last-of-type {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #1E1F23;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:hover {
  -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Animações */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.btn {
  color: #E9634F;
  margin-top: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline-block;
  padding: 25px 30px;
  border-radius: 48px;
  border: 4px solid #E9634F;
  font-weight: bold;
  background: -webkit-linear-gradient(0deg, transparent 50%, #E9634F 50%);
  background-size: 600px 80px;
  transition: 0.8s;
}

.btn:hover {
  color: #FFF;
  background-position: 300px 0;
}

.button {
  color: #E9634F;
  margin-top: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline-block;
  padding: 25px 30px;
  border-radius: 48px;
}

.button:hover {
  color: #FFF;
  background-position: 200px 0;
}

.menu ul {
  display: flex;
}
.menu ul .menu-item {
  display: block;
  padding: 25px 33px;
  font-size: 1.25rem;
  letter-spacing: 0.03rem;
  line-height: 2rem;
  font-weight: bold;
}
.menu ul .menu-item:hover {
  background: #1E1F23;
  color: #FFF;
}

.home-intro {
  min-height: 95vh;
  background: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.home-intro .titulo {
  font-size: 4.668rem;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-weight: bold;
  color: #FFF;
  opacity: 0.8;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu .menu-link {
  font-size: 1.25rem;
  display: block;
  padding: 15px 0;
  position: relative;
  max-width: 300px;
  margin-bottom: 10px;
  font-weight: bold;
}
.menu .menu-link::after {
  display: inline-block;
  position: absolute;
  right: 0;
  content: "";
  margin-left: 60px;
  border: solid #E9634F;
  border-width: 0 3px 3px 0;
  margin-top: 7px;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.menu .menu-link:hover {
  opacity: 0.6;
  -webkit-animation-name: move;
  animation-name: move;
}
.menu .menu-link:hover::after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideToRight;
  animation-name: slideToRight;
}

@keyframes slideToRight {
  from {
    right: 0px;
  }
  to {
    right: -25px;
  }
}
.home-sobre {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 20px;
}
.home-sobre .sobre-empresa {
  padding: 4rem 3.5rem;
}
.home-sobre .sobre-empresa h2 {
  font-size: 1.953rem;
  line-height: 1.2;
  margin: 16px 0 22px;
}
.home-sobre .realizacoes {
  padding: 4rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1E1F23;
}
.home-sobre .realizacoes .realizacoes-icone {
  margin-top: 60px;
  width: 100px;
  height: 100px;
  background: gray;
}
.home-sobre .realizacoes h5 {
  color: #FFF;
  font-size: 1.953rem;
  line-height: 1.2;
  text-align: center;
}

.home-servicos {
  background: #F5F5F5;
  padding: 4rem 3.5rem;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-column-gap: 80px;
}
.home-servicos .introducao h1 {
  font-size: 3.815rem;
  font-weight: bold;
  color: #4D4D4D;
  opacity: 0.2;
  margin-bottom: 3rem;
}
.home-servicos .introducao img {
  background: grey;
  min-width: 100%;
  min-height: 540px;
}
.home-servicos .descricao p {
  margin-top: 2.815rem;
}

.estudos-de-caso {
  background: #1E1F23;
  padding: 4rem 3.5rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-column-gap: 80px;
}
.estudos-de-caso div h1 {
  font-size: 3.815rem;
  color: #FFF;
  max-width: 450px;
  margin-bottom: 4rem;
}
.estudos-de-caso div .titulo-label {
  display: block;
  color: #FFF;
  margin-bottom: 0.8rem;
  opacity: 0.3;
}
.estudos-de-caso div p {
  color: #FFF;
  margin-bottom: 3.2rem;
}
.estudos-de-caso img {
  background: grey;
}

.footer {
  background: #FFF;
  padding: 1rem;
  padding: 2rem 3.5rem;
}
.footer .menu-footer {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  margin: 0 auto;
  justify-content: center;
}
.footer .menu-footer li {
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: 2.75rem;
}
.footer .menu-footer li a {
  padding: 10px;
}
.footer .menu-footer li a:hover {
  color: #E9634F;
}
.footer p {
  margin-top: 2rem;
  text-align: center;
}

body {
  color: #1E1F23;
}

.sobre-interna .sobre-titulo {
  background: #4D4D4D;
  padding: 4rem 3.5rem;
}
.sobre-interna .sobre-titulo h1 {
  font-size: 2.441rem;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  opacity: 0.9;
}
.sobre-interna .sobre-descricao {
  padding: 4rem 0rem;
  max-width: 800px;
  margin: 0 auto;
}
.sobre-interna .sobre-descricao h3 {
  font-size: 1.563rem;
  margin-bottom: 2rem;
}
.sobre-interna .sobre-descricao p {
  margin-bottom: 1rem;
}
.sobre-interna .sobre-valor {
  max-width: 800px;
  margin: 0 auto;
}
.sobre-interna .sobre-valor h3 {
  font-size: 1.563rem;
  margin-bottom: 2rem;
}
.sobre-interna .sobre-valor p {
  margin-bottom: 1rem;
}
.sobre-interna .sobre-visao-geral {
  margin-top: 4rem;
  padding: 0rem 5rem;
  background: #4D4D4D;
}
.sobre-interna .sobre-visao-geral ul {
  position: relative;
}
.sobre-interna .sobre-visao-geral ul li {
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sobre-interna .sobre-visao-geral ul li .titulo-label {
  position: absolute;
  color: #FFF;
  top: 0;
  padding-top: 2rem;
  opacity: 0.8;
  letter-spacing: 0.15rem;
}
.sobre-interna .sobre-visao-geral ul li span {
  font-size: 3.052rem;
  font-weight: bold;
  color: #FFF;
  opacity: 0.8;
}
.sobre-interna .sobre-visao-geral ul li span i {
  position: absolute;
  right: 41%;
  letter-spacing: 0.6rem;
  top: 31%;
  margin-bottom: 50px;
  font-size: 11.642rem;
  opacity: 0.2;
  font-style: normal;
  font-weight: normal;
}

body {
  color: #1E1F23;
}

.menu-mobile {
  display: none;
}

.menu-wrapper {
  width: 70px;
  height: 45px;
  cursor: pointer;
}

.menu-wrapper {
  display: none;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 70px;
  height: 5px;
}

.hamburger-menu {
  position: relative;
  transform: translateY(20px);
  background: #1E1F23;
  transition: all 0ms 300ms;
}
.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  background: #1E1F23;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  background: #1E1F23;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 1.5rem;
}
.header .header-logo {
  display: block;
  padding: 25px 33px;
}

body {
  color: #1E1F23;
}

.servicos-interna {
  display: flex;
  flex-direction: column;
}
.servicos-interna .servicos-intro {
  background: #1E1F23;
  padding: 4rem 3.5rem;
}
.servicos-interna .servicos-intro h2 {
  font-size: 4.768rem;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 2rem;
  max-width: 700px;
  opacity: 0.8;
}
.servicos-interna .servicos-intro p {
  max-width: 500px;
  margin-bottom: 1rem;
  color: #FFF;
  opacity: 0.5;
}
.servicos-interna .servicos-intro a {
  display: block;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 4rem;
  color: #E9634F;
  letter-spacing: 0.18rem;
}
.servicos-interna .servicos-intro a::after {
  display: inline-block;
  content: "";
  margin-left: 20px;
  border: solid #E9634F;
  border-width: 0 2px 2px 0;
  margin-bottom: 3px;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.servicos-interna .servicos-intro a:hover {
  opacity: 0.7;
}
.servicos-interna .servicos-lista {
  background: #F5F5F5;
  padding: 4rem 3.5rem;
}
.servicos-interna .servicos-lista .titulo {
  font-size: 1rem;
  color: #1E1F23;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 4rem;
}
.servicos-interna .servicos-lista ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.servicos-interna .servicos-lista ul .servico {
  display: grid;
  grid-template: "esquerda direita"/1fr 1fr;
}
.servicos-interna .servicos-lista ul .servico .servico-descricao {
  grid-area: esquerda;
  background: #FFF;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 7rem;
}
.servicos-interna .servicos-lista ul .servico .servico-descricao h3 {
  font-size: 1.953rem;
  margin-bottom: 1.5rem;
}
.servicos-interna .servicos-lista ul .servico .servico-descricao p {
  max-width: 400px;
}
.servicos-interna .servicos-lista ul .servico .servico-descricao .btn {
  display: inline-block;
  background: transparent;
  border: 3px solid #E9634F;
  color: #E9634F;
  font-weight: bold;
}
.servicos-interna .servicos-lista ul .servico img {
  grid-area: direita;
  background: grey;
}
.servicos-interna .servicos-lista ul li:nth-child(2) .servico-descricao {
  grid-area: direita;
}
.servicos-interna .servicos-lista ul li:nth-child(2) img {
  grid-area: esquerda;
  background: grey;
}

body {
  color: #1E1F23;
}

.servico {
  background: #F5F5F5;
}
.servico .servico-intro {
  padding: 4rem 3.5rem;
  display: grid;
  grid-template: "servicoTitulo servicoImagem" "servicoSubtitulo servicoImagem" "servicoDescricao ." "servicoEtapas ." "servicoContato ."/1fr 1fr;
  column-gap: 60px;
}
.servico .servico-intro h1 {
  font-size: 4.768rem;
  font-weight: bold;
  grid-area: servicoTitulo;
  color: #4D4D4D;
  opacity: 0.9;
  line-height: 1;
  margin-bottom: 3rem;
}
.servico .servico-intro h3 {
  grid-area: servicoSubtitulo;
  font-size: 2.441rem;
  color: #1E1F23;
  margin-bottom: 2rem;
}
.servico .servico-intro p {
  grid-area: servicoDescricao;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.servico .servico-intro ul {
  grid-area: servicoEtapas;
  list-style: none;
}
.servico .servico-intro ul li {
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #1E1F23;
  font-weight: bold;
  opacity: 0.8;
}
.servico .servico-intro ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #E9634F;
  display: inline-block;
  border-radius: 50%;
  margin-left: -1rem;
  margin-right: 1rem;
  margin-bottom: 2px;
}
.servico .servico-intro .btn {
  grid-area: servicoContato;
  width: fit-content;
}
.servico .servico-intro img {
  grid-area: servicoImagem;
  background: red;
}
.servico .servico-quote {
  padding: 0rem 3.5rem;
  background: #4D4D4D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.servico .servico-quote h3 {
  color: #FFF;
  padding-top: 2rem;
  opacity: 0.6;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  padding-bottom: 8rem;
}
.servico .servico-quote cite {
  max-width: 1040px;
  font-size: 1.563em;
  color: #FFF;
  font-style: normal;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 1rem;
}
.servico .servico-quote p {
  color: #E9634F;
  font-size: 1.25rem;
  margin-bottom: 10rem;
}

body {
  color: #1E1F23;
}

.contato-interna .contato {
  padding: 4rem 3.5rem;
  background: #F5F5F5;
  display: grid;
  grid-template: "subtitulo imagem" "titulo imagem" "info imagem"/1fr 1fr;
}
.contato-interna .contato h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-bottom: 2rem;
  grid-area: subtitulo;
}
.contato-interna .contato h2 {
  font-size: 4.768rem;
  opacity: 0.6;
  font-weight: bold;
  grid-area: titulo;
  margin-bottom: 3rem;
}
.contato-interna .contato img {
  background: red;
  grid-area: imagem;
}
.contato-interna .contato .contato-info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contato-interna .contato .contato-info .label {
  display: block;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.7;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
}
.contato-interna .contato .contato-info .label-email {
  margin-top: 2.5rem;
}
.contato-interna .contato .contato-info .contato-endereco p {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
  opacity: 0.9;
}
.contato-interna .contato .contato-info .contato-detalhes p a {
  font-size: 1.563rem;
}
.contato-interna .contato-formulario {
  background: #1E1F23;
  padding: 4rem 14rem;
  display: grid;
  grid-template: "subtitulo subtitulo" "titulo titulo" "label label" "nome nome" "telefone email" "mensagem mensagem"/1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}
.contato-interna .contato-formulario h3 {
  text-align: center;
  margin-bottom: 3.7rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  color: #FFF;
  opacity: 0.6;
  font-weight: bold;
  grid-area: subtitulo;
}
.contato-interna .contato-formulario p {
  margin-bottom: 3.7rem;
  font-size: 1.953rem;
  letter-spacing: 0.005rem;
  color: #FFF;
  opacity: 0.8;
  max-width: 600px;
  line-height: 1.2;
  grid-area: titulo;
}
.contato-interna .contato-formulario .label {
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  font-weight: bold;
  opacity: 0.6;
  display: block;
  grid-area: label;
}
.contato-interna .contato-formulario input, .contato-interna .contato-formulario textarea {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 2rem;
  border-width: 0;
  max-width: 100%;
  outline: 0;
  padding: 1.2rem 2.2rem;
  text-align: left;
  width: 100%;
  font-size: 1.25rem;
  color: #FFF;
}
.contato-interna .contato-formulario .nome {
  grid-area: nome;
}
.contato-interna .contato-formulario .telefone {
  grid-area: telefone;
}
.contato-interna .contato-formulario .email {
  grid-area: email;
}
.contato-interna .contato-formulario .mensagem {
  grid-area: mensagem;
}
.contato-interna .contato-formulario .btn {
  width: fit-content;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

body {
  color: #1E1F23;
}

.estudos-de-caso-interna {
  display: grid;
  grid-template: "titulo filtro-label" "titulo filtro-selecao" "estudos estudos"/1fr 1fr;
  background: #F5F5F5;
  padding: 7rem 3.5rem;
}
.estudos-de-caso-interna h1 {
  grid-area: titulo;
  font-size: 4.768rem;
  font-weight: bold;
  color: #4D4D4D;
  opacity: 0.9;
  line-height: 1;
}
.estudos-de-caso-interna label {
  grid-area: filtro-label;
  display: flex;
  align-items: flex-end;
  justify-self: end;
}
.estudos-de-caso-interna .titulo-label {
  margin-bottom: 1rem;
  margin-right: 82px;
}
.estudos-de-caso-interna .custom-select {
  grid-area: filtro-selecao;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #1E1F23;
  position: relative;
  border-radius: 2rem;
  border-width: 0;
  width: 350px;
  outline: 0;
  padding: 1.2rem 2.2rem;
  text-align: left;
  font-size: 1.05rem;
  letter-spacing: 0.03em;
  align-self: baseline;
  justify-self: end;
  font-weight: bold;
  color: #FFF;
  position: relative;
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}
.estudos-de-caso-interna .custom-select select {
  display: none;
}
.estudos-de-caso-interna .custom-select .select-selected {
  width: 100%;
  font-size: 1.25rem;
  color: #FFF;
}
.estudos-de-caso-interna .custom-select .select-selected:after {
  position: absolute;
  content: "";
  top: 37px;
  right: 30px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #FFF transparent transparent transparent;
}
.estudos-de-caso-interna .custom-select .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 30px;
}
.estudos-de-caso-interna .custom-select .select-items div, .estudos-de-caso-interna .custom-select .select-selected {
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.estudos-de-caso-interna .custom-select .select-items {
  position: absolute;
  background-color: #1E1F23;
  top: 65%;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #1E1F23;
  border-width: 0;
  outline: 0;
  align-self: baseline;
  justify-self: end;
  font-weight: bold;
}
.estudos-de-caso-interna .custom-select .select-items div {
  width: 100%;
  padding: 2.2rem 3.2rem;
  text-align: left;
  color: #FFF;
  font-size: 1.25rem;
}
.estudos-de-caso-interna .custom-select .select-items :first-child {
  margin-top: 30px;
}
.estudos-de-caso-interna .custom-select .select-hide {
  display: none;
}
.estudos-de-caso-interna .custom-select .select-items div:hover, .estudos-de-caso-interna .custom-select .same-as-selected {
  background-color: #4D4D4D;
}
.estudos-de-caso-interna .estudos {
  grid-area: estudos;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 4rem;
}
.estudos-de-caso-interna .estudos .estudo-imagem {
  height: 350px;
  background: gray;
}
.estudos-de-caso-interna .estudos .estudo-descricao {
  background: #FFF;
  padding: 2rem 3rem;
}
.estudos-de-caso-interna .estudos .estudo-descricao h3 {
  font-size: 2.441rem;
  line-height: 1;
  margin-bottom: 2rem;
}
.estudos-de-caso-interna .estudos .estudo-descricao .titulo-label {
  margin-bottom: 0.3rem;
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .home-intro .titulo {
    font-size: 3.815rem;
  }

  .menu ul .menu-item {
    padding: 1rem;
    font-size: 1rem;
  }

  .btn {
    padding: 25px 20px;
  }

  .home-sobre {
    display: flex;
    flex-direction: column;
  }

  .home-servicos {
    display: flex;
    flex-direction: column;
  }
  .home-servicos .introducao h1 {
    margin-bottom: 1rem;
  }
  .home-servicos .introducao img {
    display: none;
  }

  .estudos-de-caso {
    display: flex;
    flex-direction: column;
  }
  .estudos-de-caso div p {
    margin-bottom: 1rem;
  }

  .sobre-interna .sobre-descricao {
    padding: 3rem 2rem;
  }
  .sobre-interna .sobre-valor {
    padding: 0 2rem;
  }
  .sobre-interna .sobre-visao-geral ul li span {
    text-align: center;
  }

  .servicos-interna .servicos-lista ul .servico {
    display: flex;
    flex-direction: column;
  }
  .servicos-interna .servicos-lista ul .servico .servico-descricao {
    padding: 3rem 7rem;
  }

  .servicos-interna .servicos-lista ul li {
    margin-bottom: 2rem;
  }

  .estudos-de-caso-interna {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 3.5rem;
  }
  .estudos-de-caso-interna .estudos {
    display: flex;
    flex-direction: column;
  }
  .estudos-de-caso-interna .estudos li {
    margin-bottom: 20px;
  }

  .contato-interna .contato {
    display: flex;
    flex-direction: column;
  }

  .contato-interna .contato-formulario {
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem;
  }

  .footer {
    padding: 1rem 1.5rem;
  }
  .footer .menu-footer li a {
    padding: 1rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-intro {
    min-height: 70vh;
  }
  .home-intro .titulo {
    font-size: 2.441rem;
  }

  .titulo-label {
    margin-bottom: 2rem;
  }

  .footer .menu-footer {
    display: none;
  }

  .btn {
    padding: 1.5rem;
  }

  .header {
    height: 100px;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header .menu-wrapper {
    display: block;
  }
  .header .menu {
    display: none;
  }

  .menu-mobile.active {
    display: block;
    opacity: 1;
  }

  .menu-mobile {
    opacity: 0;
    position: absolute;
    top: 0;
    margin-top: 100px;
    height: calc(100vh - 100px);
    z-index: 2;
    background: #1E1F23;
    width: 100vw;
  }
  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    padding: 40px 2.1rem;
  }
  .menu-mobile ul li {
    text-align: right;
    margin-top: 0.8rem;
  }
  .menu-mobile ul li .menu-item {
    display: block;
    color: #FFF;
    padding-top: calc(0.56818vw + 8.18182px);
    padding-bottom: calc(0.56818vw + 8.18182px);
    font-size: calc(3.18182vw + 21.81818px);
    text-transform: capitalize;
  }

  .home-sobre {
    grid-template-columns: 1fr;
  }
  .home-sobre .sobre-empresa {
    padding: 2rem 1.5rem;
  }
  .home-sobre .sobre-empresa h2 {
    font-size: 1.563rem;
  }
  .home-sobre .realizacoes {
    padding: 2rem 1.5rem;
  }
  .home-sobre .realizacoes h5 {
    font-size: 1.563rem;
  }

  .home-servicos {
    padding: 2rem 1.5rem;
    grid-template-columns: 1fr;
  }
  .home-servicos .introducao h1 {
    font-size: 2.441rem;
    margin-bottom: 2rem;
  }
  .home-servicos .introducao img {
    display: none;
  }
  .home-servicos .descricao p {
    margin-top: 0;
  }

  .sobre-interna .sobre-titulo {
    padding: 2rem 1.5rem;
  }
  .sobre-interna .sobre-titulo h1 {
    font-size: 1.953rem;
  }
  .sobre-interna .sobre-descricao {
    padding: 2rem 1.5rem;
  }
  .sobre-interna .sobre-valor {
    padding: 2rem 1.5rem;
  }
  .sobre-interna .sobre-visao-geral {
    padding: 0rem 1.5rem;
    margin-top: 2rem;
  }
  .sobre-interna .sobre-visao-geral ul li {
    min-height: 300px;
  }
  .sobre-interna .sobre-visao-geral ul li span {
    margin-top: 4rem;
    font-size: 3.052rem;
  }
  .sobre-interna .sobre-visao-geral ul li span i {
    display: none;
    font-size: 7.451rem;
  }

  .estudos-de-caso {
    padding: 2rem 1.5rem;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
  .estudos-de-caso div h1 {
    font-size: 2.441rem;
    margin-bottom: 2rem;
  }
  .estudos-de-caso div p {
    margin-bottom: 2rem;
  }

  .footer {
    padding: 2rem 1.5rem;
  }
  .footer p {
    margin-top: -16px;
  }

  .servicos-interna .servicos-intro {
    padding: 2rem 1.5rem;
  }
  .servicos-interna .servicos-intro h2 {
    font-size: 2.441rem;
  }
  .servicos-interna .servicos-lista {
    padding: 2rem 1.5rem;
  }
  .servicos-interna .servicos-lista ul {
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .servicos-interna .servicos-lista ul li {
    margin-bottom: 2rem;
  }
  .servicos-interna .servicos-lista ul .servico {
    display: flex;
    flex-direction: column;
  }
  .servicos-interna .servicos-lista ul .servico .servico-descricao {
    padding: 2rem 1.5rem;
  }
  .servicos-interna .servicos-lista .titulo {
    margin-bottom: 2rem;
  }

  .estudos-de-caso-interna {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
  }
  .estudos-de-caso-interna h1 {
    font-size: 2.441rem;
  }
  .estudos-de-caso-interna .custom-select {
    width: 100%;
    padding: 1.2rem 1rem;
  }
  .estudos-de-caso-interna .estudos {
    display: flex;
    flex-direction: column;
  }
  .estudos-de-caso-interna .estudos .estudo-descricao {
    padding: 2rem 1.5rem;
  }
  .estudos-de-caso-interna .estudos .estudo-descricao h3 {
    font-size: 1.953rem;
    margin-bottom: 1.5rem;
  }

  .contato-interna .contato {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .contato-interna .contato h2 {
    font-size: 2.441rem;
    margin-bottom: 2rem;
  }
  .contato-interna .contato .contato-info {
    display: flex;
    flex-direction: column;
  }
  .contato-interna .contato .contato-info .contato-endereco {
    margin-bottom: 2rem;
  }
  .contato-interna .contato .contato-info .contato-endereco .label {
    margin-bottom: 0.5rem;
  }
  .contato-interna .contato .contato-info .contato-detalhes .label {
    margin-bottom: 0.5rem;
  }
  .contato-interna .contato-formulario {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    row-gap: 1.5rem;
  }
  .contato-interna .contato-formulario h3 {
    margin-bottom: 2rem;
  }
  .contato-interna .contato-formulario p {
    font-size: 1.563rem;
    margin-bottom: 2rem;
  }
  .contato-interna .contato-formulario .btn {
    margin-top: 1rem;
    align-self: flex-end;
  }
}

/*# sourceMappingURL=styles.css.map */
