@import './cores';

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 1.5rem;
    background: $branco;

    .header-logo {
        display: block;
        padding: 25px 33px;
    }
}