// Tablet
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .home-intro {
        .titulo {
            font-size: 3.815rem;
        }
    }

    .menu {
        ul {
            .menu-item {
                padding: 1rem;
                font-size: 1rem;
            }
        } 
    } 

    .btn {
        padding: 25px 20px;
    }

    .home-sobre {
        display: flex;
        flex-direction: column;
    }
    .home-servicos {
        display: flex;
        flex-direction: column;

        .introducao {
            h1 {
                margin-bottom: 1rem;
            }

            img {
                display: none;
            }
        }
    }

    .estudos-de-caso {
        display: flex;
        flex-direction: column;
        div {
            p {
                margin-bottom: 1rem;
            }
        }
    }

    .sobre-interna {

        .sobre-descricao {
            padding: 3rem 2rem;
        }
        .sobre-valor {
            padding: 0 2rem;
        }
        .sobre-visao-geral ul li span {
            text-align: center;
        }
    } 

    .servicos-interna .servicos-lista ul .servico {
        display: flex;
        flex-direction: column;

        .servico-descricao {
            padding: 3rem 7rem;
        }
    }

    .servicos-interna .servicos-lista ul li {
        margin-bottom: 2rem;
    }

    .estudos-de-caso-interna {
        display: flex;
        flex-direction: column;
        padding: 3.5rem 3.5rem;

        .estudos {
            display: flex;
            flex-direction: column;

            li {
                margin-bottom: 20px;
            }
        }
    }

    .contato-interna .contato {
        display: flex;
        flex-direction: column;
    }

    .contato-interna .contato-formulario {
        display: flex;
        flex-direction: column;
        padding: 4rem 4rem;
    }

    .footer {
        padding: 1rem 1.5rem;
        .menu-footer li a {
            padding: 1rem;
            font-size: 1rem;
        }
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    .home-intro {
        min-height: 70vh;

        .titulo {
            font-size: 2.441rem;
        }
    }

    .titulo-label {
        margin-bottom: 2rem;
    }

    .footer {
        .menu-footer {
            display: none;
        }
    }

    .btn {
        padding: 1.5rem;
    }

    .header {
        height: 100px;
        flex-direction: row-reverse;
        align-items: center;
        .menu-wrapper {
            display: block;
        }
    
        .menu {
            display: none;
        }
    }
    
    .menu-mobile.active {
        display: block;
        opacity: 1;
    }

    .menu-mobile {
        opacity: 0;
        position: absolute;
        top: 0;
        margin-top: 100px;
        height: calc(100vh - 100px);
        z-index: 2;
        background: $pretoPrincipal;
        width: 100vw;
    
        ul {
          max-width: 300px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
    
          padding: 40px 34px 0px 0px;
    
          li {
            text-align: right;
            margin-top: .8rem;

            .menu-item {
                display: block;
                color: $branco;
                padding-top: calc(0.56818vw + 8.18182px);
                padding-bottom: calc(0.56818vw + 8.18182px);
                font-size: calc(3.18182vw + 21.81818px);
                text-transform: capitalize;
            }
          }
        }
    }

    .home-sobre {
        grid-template-columns: 1fr;

        .sobre-empresa {
            padding: 2rem 1.5rem;

            h2 {
                font-size: 1.563rem;
            }
        }

        .realizacoes {
            padding: 2rem 1.5rem;

            h5 {
                font-size: 1.563rem;
            }
        }
    }

    .home-servicos {
        padding: 2rem 1.5rem;
        grid-template-columns: 1fr;

        .introducao {
            h1 {
                font-size: 2.441rem;
                margin-bottom: 2rem;
            }

            img {
                display: none;
            }
        }

        .descricao {
            p {
                margin-top: 0;
            }
        }
    }

    .sobre-interna {
        .sobre-titulo {
            padding: 2rem 1.5rem;
            
            h1 {
                font-size: 1.953rem;
            }
        }

        .sobre-descricao {
            padding: 2rem 1.5rem;
        }

        .sobre-valor {
            padding: 2rem 1.5rem;
        }

        .sobre-visao-geral {
            padding: 0rem 1.5rem;
            margin-top: 2rem;

            ul  {
                li {
                    min-height: 300px;
                    span {
                        margin-top: 4rem;
                        font-size: 3.052rem;

                        i {
                            display: none;
                            font-size: 7.451rem;
                        }
                    }
                }
            }
        }
    }

    .estudos-de-caso {
        padding: 2rem 1.5rem;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;

        div {
            h1 {
                font-size: 2.441rem;
                margin-bottom: 2rem;
            }

            p {
                margin-bottom: 2rem;
            }
        }
    }

    .footer {
        padding: 2rem 1.5rem;
        p {
            margin-top: -16px;
        }
    }
}