@import "cores";

.titulo-label {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .03rem;
    margin-top: 16px;
    margin-bottom: 56px;
    font-weight: bold;
    color: $pretoSecundario;
}