@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "cores";
@import "titulos";

// Resetando estilos

body,
p,
h1,
h2,
h3,
ul,
blockquote,
cite,
li {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: $pretoPrincipal;
}

p {
    font-size: 1rem;
    color: $pretoSecundario;
    line-height: 1.7;
}

p:last-of-type {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: $pretoPrincipal;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;

    .header-logo {
        display: block;
        padding: 25px 33px;
    }
}

.btn {
    color: $branco;
    margin-top: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: $rosa;
    display: inline-block;
    padding: 25px 30px;
    border-radius: 48px;
}

.menu {
    ul {
        display: flex;
        
        .menu-item {
            display: block;
            padding: 25px 33px;
            font-size: 1.25rem;
            letter-spacing: .03rem;
            line-height: 2rem;
            font-weight: bold;
        }

        .menu-item:hover {
            background: $pretoPrincipal;
            color: $branco;
        }
    }
}

.home-intro {
    min-height: 95vh;
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $branco;

    .titulo {
        font-size: 3.052rem;
        text-align: center;
        margin: 0 auto;
        max-width: 700px;
        font-weight: bold;
    }
}

.home-sobre {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-column-gap: 20px;

    .sobre-empresa {
        padding: 64px 56px;

        h2 {
            font-size: 1.953rem;
            line-height: 1.2;
            margin: 16px 0 22px;
        }

        .sobre-menu {
            display: flex;
            flex-direction: column;

            .sobre-link {
                display: block;
                padding: 15px 0;
                position: relative;
                max-width: 300px;
                margin-bottom: 10px;
                font-weight: bold;
            }

            .sobre-link::after {
                display: inline-block;
                position: absolute;
                right: 0;
                content: "";
                margin-left: 60px;
                border: solid $rosa;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            } 
        }
    }

    .realizacoes {
        padding: 64px 56px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $pretoPrincipal;

        .realizacoes-icone {
            margin-top: 60px;
            width: 100px;
            height: 100px;
            background: gray;
        }

        h5 {
            color: $branco;
            font-size: 1.953rem;
            line-height: 1.2;
            text-align: center;
        }
    }
}