{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Aillez Engenharia - Sobre a empresa
{% endblock %}


{% block content %}

<section class="servico">
    <div class="servico-intro">
        <h1>{{servico.nome}}</h1>
        <h3>{{servico.breve_descricao}}</h3>

        {{servico.descricao_detalhada | safe }}

        <a class="btn" href="">Contato</a>

        <img src="" alt="">
    </div>
    <div class="servico-quote">
        <h3>O que nossos clientes dizem</h3>
        <cite>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, modi? At, quidem aspernatur delectus ducimus dignissimos reiciendis est commodi tenetur fugiat porro suscipit labore minima quasi natus totam dicta adipisci?"</cite>
        <p>Dona Helena | Dona de um quarteirao</p>
    </div>
    <div class="servico-estudo-associado estudos-de-caso">
        <div>
            <h1>Dona Helena caso de uso</h1>
            <label class="titulo-label" for="#">Trabalho realizado</label>
            <p>Instalaçao de painel solar</p>
            <label class="titulo-label" for="#">Breve descrição</label>
            <p>Instalaçao de painel solar para geraçao de energia elétrica para um quarteirão...</p>
            <a class="btn" href="#">Mais detalhes</a>
        </div>
        <img src="#" alt="">
    </div>
</section>

{% endblock %}